{% extends "base.html.twig" %}

{% block title %}Tic Tac Toe{% endblock %}



{% block body %}

    <h1>Tic Tac Toe Game</h1>

    <section id="jeu">
        <div data-index="0" class="case"></div>
        <div data-index="1" class="case"></div>
        <div data-index="2" class="case"></div>
        <div data-index="3" class="case"></div>
        <div data-index="4" class="case"></div>
        <div data-index="5" class="case"></div>
        <div data-index="6" class="case"></div>
        <div data-index="7" class="case"></div>
        <div data-index="8" class="case"></div>
    </section>

    <h2></h2>
    <div>
        <p class="scoreJ1"></p>
        <p class="scoreJ2"></p>
        <p class="scoreEgal"></p>
    </div>
    <button id="reset">Rejouer</button>


{% endblock %}